/.idea
/1_2 Аргументы командной строки и console/node_modules/
/1_2_2 Аргументы командной строки и console/node_modules/
/1_4  Потоки Модули path fs/node_modules/
/1_4  Потоки Модули path fs/games.log
